{
  "plugins": [
    "@babel"
  ],
  "parser": "@babel/eslint-parser",
  "extends": [
    "airbnb",
    "eslint:recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "parserOptions": {
    "requireConfigFile": false
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/require-default-props": [
      0
    ]
  }
}
