{
  "plugins": [
    //"@typescript-eslint"
  ],
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "eslint:recommended"
//    "plugin:@typescript-eslint/eslint-recommended",
//    "plugin:@typescript-eslint/recommended"
    //"airbnb-typescript"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/require-default-props": [
      0
    ]
  }
//  "parserOptions": {
//    "project": "./tsconfig.json"
//  }
}
